
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
  }
  

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  .left-column {
    flex: 1; 
  }
  
  .left-column img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .left-column p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
  }
  
  .right-column {
    flex: 1; 
  }
  
  .right-column nav {
    margin-bottom: 20px;
  }
  
  .right-column h2 {
    font-size: 1.5em;
    color: #e4be18;
    margin-bottom: 10px;
  }
  
  .right-column ul {
    list-style: none;
  }
  
  .right-column ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  

  #contactForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  #contactForm button {
    width: 100%;
    padding: 10px;
    background-color: #e9c217;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  

 
  footer {
    margin-top: 40px;
    text-align: center; 
    overflow: hidden;
  }
  
  footer p {
    font-size: 1.1em;
    color: #333;
  }
  
  footer a {
    display: inline-block;
    margin-top: 10px;
  }
  
  footer .imagen-izquierda {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  
  footer img {
    border-radius: 50%;
    border: 2px solid #4CAF50;
    object-fit: cover;
  }
  
 
  a {
    text-decoration: none;
    color: #4CAF50;
  }
  
  a:hover {
    text-decoration: underline;
  }
  